body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #444;
}

ul li {
    margin: 5px 0;
    font-size: 16px;
}
